.search-results {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.search-results__stat {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.search-results__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.search-results__item {
    width: 320px;
    min-height: 500px;
    border: 2px solid silver;
    border-radius: 8px;
}

.search-results__item-icon {
    width: 100%;
    height: 300px;
}

.search-results__item h1 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.search-results__item-labels {
    padding: 16px;
}

@media (max-width: 800px) {
    .search-results__item {
        width: 100%;
        height: 90vw;
    }
    .search-results__item-icon {
        height: 70%;
    }
    .search-results__item h1 {
        font-size: 20px;
    }
    .search-results {
        padding: 30px;
    }
}

@media (max-width: 550px) {
    .search-results__item-labels {
        padding: 4px;
    }
    .search-results__item h1 {
        font-size: 12px;
    }
    .search-results__item {
        height: auto;
    }
}