@keyframes appear {
  0% {
    color: white;
  }
  100% {
    color: black;
  }
}

* {
  animation: 0.5s ease-out 0s 1 appear;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

